/* Base styles for light mode */
pre[class*="language-"],
code[class*="language-"] {
  color: #212121;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #797979;
}

.token.punctuation {
  color: #475569;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: #c63e5c;
}

.token.boolean,
.token.number,
.token.variable {
  color: #9f42f5;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: #16a34a;
}

.token.operator,
.token.entity,
.token.url {
  color: #ca8a04;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #215ddf;
}

.token.keyword {
  color: #c267ce;
}

.token.regex,
.token.important {
  color: #e57437;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token.parameter {
  color: #da4e52;
}

/* Dark mode styles using .dark class */
.dark pre[class*="language-"],
.dark code[class*="language-"] {
  color: #f8fafc;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #ffffff5c;
}

.dark .token.punctuation {
  color: #cbd5e1;
}

.dark .token.property,
.dark .token.tag,
.dark .token.constant,
.dark .token.symbol {
  color: #ff91a1;
}

.dark .token.boolean,
.dark .token.number,
.dark .token.variable {
  color: #b8a6ff;
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin {
  color: #56c2c2;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url {
  color: #e5d088;
}

.dark .token.atrule,
.dark .token.attr-value,
.dark .token.function,
.dark .token.class-name {
  color: #94c4ff;
}

.dark .token.keyword {
  color: #f2a5fc;
}

.dark .token.regex,
.dark .token.important {
  color: #e3b584;
}

.dark .token.parameter {
  color: #fca5a5;
}
