@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}


@layer base {


  :root {

    --color-zinc-50: 243 243 243;
    --color-zinc-100: 232 232 232;
    --color-zinc-200: 197 197 197;
    --color-zinc-300: 161 161 162;
    --color-zinc-400: 91 91 92;
    --color-zinc-500: 21 21 22;
    --color-zinc-600: 19 19 20;
    --color-zinc-700: 13 13 13;
    --color-zinc-800: 9 9 10;
    --color-zinc-900: 6 6 7;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }


  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {


  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

p {
  margin: 0 !important;
}

mark.prompt-highlight {
  background-color: hsl(0deg 0% 100%);
  color: #2c2a2d;
  padding: 0.1rem 0.4rem;
  font-weight: 500;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 8px;
}

.dark mark.prompt-highlight {
  background-color: hsl(150deg 68% 56% / 20%);
  color: #41db8f;
  padding: 0.2rem 0.4rem;
  font-weight: 500;
  border: 1px solid rgb(0 0 0 / 0%);
  border-radius: 8px;
}

.tiptap .is-editor-empty:first-child::before {
  color: rgba(0, 0, 0, 0.5);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.dark .tiptap .is-editor-empty:first-child::before {
  color: rgba(255, 255, 255, 0.5);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}






.hljs-copy {
  color: white;
  background: transparent;
  border: none;
  padding: "0.5rem 1rem";
  border-radius: 4px;
  cursor: pointer;

}

.hljs-copy:hover {
  background: rgba(255, 255, 255, 0.1);


}

.hljs-lang {
  padding: 0.5rem 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
  background-color: #333135;
}

.hljs-lang p {
  margin: 0 !important;
}




code.hljs {
  padding: 3px 5px
}

/*
  
  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
  
  base:    #282c34
  mono-1:  #abb2bf
  mono-2:  #818896
  mono-3:  #5c6370
  hue-1:   #56b6c2
  hue-2:   #61aeee
  hue-3:   #c678dd
  hue-4:   #98c379
  hue-5:   #e06c75
  hue-5-2: #be5046
  hue-6:   #d19a66
  hue-6-2: #e6c07b
  
  */

.dark .hljs-comment,
.dark .hljs-quote {
  color: #5c6370;
  font-style: italic
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic
}

.dark .hljs-doctag,
.dark .hljs-keyword,
.dark .hljs-formula {
  color: #e48bfe
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #d665ee
}


.dark .hljs-section,
.dark .hljs-name,
.dark .hljs-selector-tag,
.dark .hljs-deletion,
.dark .hljs-subst {
  color: #41e696
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #37ba7a
}

.dark .hljs-literal {
  color: #58d7e8
}

.hljs-literal {
  color: #58d7e8
}

.dark .hljs-string,
.dark .hljs-regexp,
.dark .hljs-addition,
.dark .hljs-attribute,
.dark .hljs-meta .hljs-string {
  color: #85beff
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #5ca4f6
}


.dark .hljs-attr,
.dark .hljs-variable,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-selector-class,
.dark .hljs-selector-attr,
.dark .hljs-selector-pseudo,
.dark .hljs-number {
  color: #e783e9
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #e783e9
}


.dark .hljs-symbol,
.dark .hljs-bullet,
.dark .hljs-link,
.dark .hljs-meta,
.dark .hljs-selector-id,
.dark .hljs-title {
  color: #61aeee
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee
}

.dark .hljs-built_in,
.dark .hljs-title.class_,
.dark .hljs-class .hljs-title {
  color: #e6c07b
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c89e32
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}

.hljs-link {
  text-decoration: underline
}

.greeting-bubble::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  /* Tailwind doesn't support very specific pixel values like -7px */
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.greeting-bubble::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}