@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade458 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

@layer base {
    :root {
        --vaul-overlay-background: 255, 255, 255;
        --vaul-overlay-background-start: transparent;
        --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);

        --background: 180 0% 100%;
        --foreground: 180 0% 2%;

        --secondary: 180 0% 99%;
        --secondary-foreground: 180 0% 4%;

        --tertiary: 180 0% 97%;
        --tertiary-foreground: 180 0% 6%;

        --quaternary: 180 0% 93%;
        --quaternary-foreground: 180 0% 8%;

        --card: 40 30% 98%;
        --card-foreground: 20 15% 10%;

        --popover: 180 0% 99.5%;
        --popover-foreground: 180 0% 2%;

        --brand: 211 100% 49%;
        --brand-foreground: 210 100% 5%;

        --accent: 164 70% 33%;
        --accent-foreground: 164 70% 96%;

        --muted: 180 0% 90%;
        --muted-foreground: 180 0% 10%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 40 30% 98%;

        --border: 180 0% 88%;
        --soft: 180 0% 92%;
        --hard: 180 0% 84%;
        --input: 180 0% 85%;
        --ring: 20 15% 10%;

        --radius: 0.5rem;

        --shadow-subtle-xs:
            rgba(0, 0, 0, 0.04) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.08) 0px 2px 2px -1px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        --shadow-subtle-sm:
            rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.06) 0px 1px 1px -0.5px,
            rgba(0, 0, 0, 0.06) 0px 2px 2px -1px, rgba(0, 0, 0, 0.05) 0px 0px 0px 0.5px;
    }

    .dark {
        --vaul-overlay-background: 0, 0, 0;
        --vaul-overlay-background-start: transparent;
        --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);

        --background: 0 0% 13%;
        --foreground: 0 0% 100%;

        --secondary: 0 0% 10%;
        --secondary-foreground: 0 0% 100%;

        --tertiary: 0 0% 12%;
        --tertiary-foreground: 0 0% 100%;

        --quaternary: 0 0% 15%;
        --quaternary-foreground: 0 0% 100%;

        --card: 0 0% 10%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 11%;
        --popover-foreground: 0 0% 100%;

        --brand: 0 0% 20%;
        --brand-foreground: 0 0% 100%;

        --accent: 0 0% 25%;
        --accent-foreground: 0 0% 100%;

        --muted: 0 0% 15%;
        --muted-foreground: 0 0% 80%;

        --muted-secondary: 0 0% 10%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 16%;
        --soft: 0 0% 14%;
        --hard: 0 0% 18%;
        --input: 0 0% 16%;
        --ring: 0 0% 100%;

        --radius: 0.5rem;

        --shadow-subtle-xs:
            rgba(0, 0, 0, 0.04) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.08) 0px 2px 2px -1px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        --shadow-subtle-sm:
            rgba(0, 0, 0, 0.03) 0px 1px 1px -0.5px, rgba(0, 0, 0, 0.06) 0px 1px 1px -0.5px,
            rgba(0, 0, 0, 0.06) 0px 2px 2px -1px, rgba(0, 0, 0, 0.05) 0px 0px 0px 0.5px;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-sans font-normal;
    }

    strong {
        @apply font-medium;
    }
}

html.dark .shiki,
html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--background) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

mark.prompt-highlight {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    padding: 0.1rem 0.2rem;
    font-weight: 500;
    border: 1px solid hsl(var(--border));
    border-radius: 4px;
}

.dark mark.prompt-highlight {
    background-color: hsl(var(--brand) / 0.2);
    color: hsl(var(--brand));
    padding: 0.1rem 0.2rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
}

.tiptap .is-editor-empty:first-child::before {
    color: hsl(var(--muted-foreground) / 0.5);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.dark .tiptap .is-editor-empty:first-child::before {
    color: hsl(var(--muted-foreground) / 0.5);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.greeting-bubble::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    /* Tailwind doesn't support very specific pixel values like -7px */
    height: 20px;
    width: 20px;
    background: hsl(var(--muted));
    border-bottom-right-radius: 15px;
}

.greeting-bubble::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: hsl(var(--background));
    border-bottom-right-radius: 10px;
}

.draggable {
    -webkit-app-region: drag;
}

.not-draggable {
    -webkit-app-region: no-drag !important;
}
