NODE_ENV="development"
NEXT_PUBLIC_ENABLE_AUTH="true"
OPENAI_API_KEY="your-openai-api-key"
GEMINI_API_KEY="your-gemini-api-key"
ANTHROPIC_API_KEY="your-anthropic-api-key"
JINA_API_KEY="your-jina-api-key"
FIREWORKS_API_KEY="your-fireworks-api-key"
SERPER_API_KEY="your-serper-api-key"
XAI_API_KEY="your-xai-api-key"

KV_REST_API_URL="your-kv-rest-api-url"
KV_REST_API_TOKEN="your-kv-rest-api-token"
KV_REST_API_READ_ONLY_TOKEN="your-kv-rest-api-readonly-token"
KV_URL="your-kv-url"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:8787"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your-clerk-publishable-key"
CLERK_SECRET_KEY="your-clerk-secret-key"

LANGFUSE_SECRET_KEY="your-langfuse-secret-key"
LANGFUSE_PUBLIC_KEY="your-langfuse-public-key"
LANGFUSE_BASEURL="https://us.cloud.langfuse.com"

NEXT_PUBLIC_POSTHOG_KEY="your-posthog-key"
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"

FREE_CREDITS_LIMIT_REQUESTS=200
FREE_CREDITS_LIMIT_REQUESTS_IP=100

DATABASE_URL="your-database-url" 